/*-----------------------------------------------
    = Common
-----------------------------------------------*/

html, body {
    height: 100%;
}

body {
    background: url(../img/background_photo.jpg) center center / cover no-repeat fixed;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    background-color: #67b7c6;
    height: 30px;
    padding: 5px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#wrap > .container {
    padding-top: 60px;
    height: auto;
}

@media (min-width: 1200px) {
    .container {
        width: 900px;
    }
}

@media (max-width: 900px) {
    .container {
        width: 100%;
    }
}

.navbar-custom {
    background: #fff;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 1030;
    height: 60px;
    margin-bottom: 60px;
}

.navbar-nav > li {
    padding: 5px;
    border-left: 1px solid #e7e7e7;
}

.navbar-nav > li:last-child {
    border-right: 1px solid #e7e7e7;
}

.navbar-nav > li > a#now {
    text-decoration: none;
    background-color: #eee;
}

.btn-primary {
    background: #0e90a9;
    border: 1px solid #0e90a9;
}

.btn-primary:hover {
    background: #025a6a;
}

.btn-primary.login {
    background: #3b5998;
    border: 1px solid #3b5998;
}

.btn-primary.login:hover {
    background: #19294c;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}