/*-----------------------------------------------
	= Reset
-----------------------------------------------*/

html, body,
div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea,
p, blockquote, th, td {
	margin: 0;
	padding: 0;
	font-family:
		Verdana, "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3",
		"Hiragino Kaku Gothic ProN", "メイリオ", Meiryo,
		sans-serif;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img{
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var {
	font-weight: normal;
	font-style: normal;
}
ol, ul {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}
q:before, q:after{
	content: '';
}
abbr, acronym {
	border: 0;
}
a, a:link, a:visited, a:hover, a:active{
	outline: 0;
	text-decoration: none;
}
