/*-----------------------------------------------
	= Mainvisual
-----------------------------------------------*/

#main-visual {
	margin-top: 60px;
	background: url(../img/background_photo.jpg) center center / cover no-repeat fixed;
}

#main-visual > .container {
	padding: 30px 0;
	height: auto;
}

#main-visual .jumbotron {
	background: #fff;
	margin: 0 auto;
	height: auto;
	opacity: 0.8;
}

@media (min-width: 1200px) {
  #main-visual .jumbotron {
    width: 900px;
  }
}

@media (max-width: 900px) {
  #main-visual .jumbotron {
    width: 90%;
  }
}

#main-visual a.btn {
	background: #0e90a9;
	border: 1px solid #0e90a9;
	border-radius: 35px;
	margin: 10px 10px -10px 0;
	padding: 15px 40px 15px 20px;
}

#main-visual a.btn:hover {
	background: #025a6a;
}

#main-visual a.btn i {
	opacity: 0;
}

#main-visual a.btn.login {
	background: #3b5998;
	border: 1px solid #3b5998;
}

#main-visual h1.catch,
#main-visual p.message {
	margin-bottom: 20px;

}

/*-----------------------------------------------
	= Area
-----------------------------------------------*/

.area {
	margin: 30px auto;
	padding-bottom: 30px;
	font-size: 14px;
}

.area h1.area-title {
	font-size: 18px;
	border-top: 1px solid #e7e7e7;
	margin-bottom: 20px;
}

.area h1.area-title span.title {
	position: relative;
	top: -10px;
	padding: 0 20px;
	background: white;
}

.area div.panel.desc {
	background: #eee;
	border: none;
	font-size: 14px;
	padding: 0 60px;
}

/*-----------------------------------------------
	= Howto area
-----------------------------------------------*/

.howto-area {
	margin: -20px auto 30px;
}

.howto-area .row > .col-md-4 {
	text-align: center;
}

.howto-area .row > .col-md-4 i {
	background: #96d4e0;
	height: 200px;
	width: 200px;
	border: 1px solid transparent;
	border-radius: 50%;
	color: #fff;
	font-size: 700%;
	line-height: 200px;
	margin: 20px auto;
}

.howto-area .row > .col-md-4 p {
	font-size: 16px;
	text-align: left;
}

/*-----------------------------------------------
	= Search area
-----------------------------------------------*/

.search-area {
	padding-bottom: 0;
}

.search-area .form-search {
	margin: 20px auto;
	text-align: center;
}

.search-area .form-search .form-group input[type="text"] {
	width: 500px;
}

/*-----------------------------------------------
	= Notelist area
-----------------------------------------------*/

.notelist-area .panel {
	border: none;
	opacity: 0.9;
}

.notelist-area .panel .panel-body {
	position: relative;
	padding: 35px;
	background: #f1fcfe;
	color: #333;
	font-size: 28px;
}

.notelist-area .panel .panel-body:hover {
	background: #96d4e0;
	color: #fff;
	text-decoration: none;
}

.notelist-area .panel.my .panel-body {
	background: #fffcf5;
}

.notelist-area .panel.my .panel-body:hover {
	background: #ffd882;
}

.notelist-area .panel:nth-child(1) .panel-body {
	font-size: 46px;
}

.notelist-area .panel:nth-child(2) .panel-body {
	font-size: 42px;
}

.notelist-area .panel:nth-child(3) .panel-body {
	font-size: 36px;
}

.notelist-area .panel:nth-child(4) .panel-body {
	font-size: 32px;
}

.notelist-area .panel.stock .panel-body:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #96d4e0;
}

.notelist-area .panel.stock .panel-body span.marking {
	position: absolute;
	content: " ";
	top: 8px;
	left: -1px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	z-index: 100;
}

.notelist-area .panel.my .panel-body:after {
	position: absolute;
	content: " ";
	top: 0;
	left: 0;
	height: 0;
	width: 0;
	border-bottom: 40px solid transparent;
	border-left: 40px solid #ffd882;
}

.notelist-area .panel.my .panel-body span.marking {
	position: absolute;
	content: " ";
	top: 6px;
	left: 4px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	font-size: 11px;
	font-weight: bold;
	color: #fff;
	z-index: 100;
}

.taglist .tag {
	position: relative;
}

/*-----------------------------------------------
	= Note area
-----------------------------------------------*/

.note-area {
	padding-bottom: 0;
}

.note-area .panel {
	position: relative;
	padding: 20px 50px 10px;
	margin-bottom: 0;
	z-index: 2;
}

.note-area .panel:before {
	content: "“";
	position: absolute;
	left: 10px;
	top: 5px;
	font-size: 1000%;
	font-family: sans-serif;
	line-height: 1em;
	color: #eee;
	z-index: 1;
}

.note-area .panel:after {
	content: "”";
	position: absolute;
	right: 10px;
	bottom: 5px;
	font-size: 1000%;
	font-family: sans-serif;
	line-height: 0em;
	color: #eee;
	z-index: 1;
}

.note-area .panel p {
	position: relative;
	z-index: 3;
}

.note-area .panel p.title {
	font-size: 46px;
	line-height: 1.7em;
	margin-bottom: 10px;
}

.note-area .panel p.refer {
	color: #999;
}

/*-----------------------------------------------
	= Noteinfo area
-----------------------------------------------*/

.noteinfo-area {
	margin-top: 20px;
	padding-bottom: 0;
}

.noteinfo-area .taglist {
	padding: 0 10px;
	color: #777;
	font-size: 16px;
}

.noteinfo-area .desc {
	padding: 20px 10px;
	font-size: 18px;
}

.noteinfo-area .btnlist button {
	font-size: 20px;
}

.noteinfo-area .btnlist button.like {
	background: #fffcf5;
}

.noteinfo-area .btnlist button.like:hover {
	background: #ffd882;
}

.noteinfo-area .btnlist button.stock {
	background: #f1fcfe;
}

.noteinfo-area .btnlist button.stock:hover {
	background: #96d4e0;
}

.noteinfo-area .btnlist button.delete {
	background: #eee;
}

.noteinfo-area .btnlist button.delete:hover {
	background: #ccc;
}

/*-----------------------------------------------
	= Commentlist area
-----------------------------------------------*/

.commentlist-area {
	padding-bottom: 0; 
}

.commentlist-area h1.area-title {
	margin-top: 50px;
	margin-bottom: 0;
}

.commentlist-area .comment {
	position: relative;
    margin: 0 0 30px;
    padding: 20px;
    background: #f1fcfe;
    color: #666;
    font-size: 20px;
    border: 1px solid transparent;
    border-radius: 5px;
}

.commentlist-area .comment:before {
	content: "";
	position: absolute;
    top: -15px;
    left: 50%;
    margin-left: -15px;
    border-top: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 15px solid #f1fcfe;
    content: "";
}

.commentlist-area .comment p.content {
	color: #333;
	font-size: 20px;
}

.commentlist-area .comment p.date {
	color: #999;
	font-size: 12px;
	font-style: italic;
	text-align: right;
}

/*-----------------------------------------------
	= Comment area
-----------------------------------------------*/

.comment-area {
	margin-bottom: 80px;
}

.comment-area .form-comment textarea {
	padding: 20px;
	font-size: 20px;
}

.comment-area .form-comment button[type="submit"] {
	margin: 10px 0;
	width: 200px;
	font-size: 20px;
}

/*-----------------------------------------------
	= Create area
-----------------------------------------------*/

.create-area div.panel.desc {
	margin-bottom: 40px;
}

.create-area .form-create .form-group {
	margin-bottom: 40px;
}

.create-area .form-create label {
	width: 100px;
	color: #333;
	font-size: 20px;
	font-weight: 600;
	letter-spacing: 8px;
}

.create-area .form-create label i {
	margin-right: -5px;
}

.create-area .form-create span.option{
	background: #fff;
	color: #666;
	border: 1px solid #777;
}

.create-area .form-create span.desc {
	color: #333;
	font-size: 14px;
	padding-left: 10px;
}

.create-area .form-create input[type="text"] {
	padding: 30px 20px;
	font-size: 24px;
}

.create-area .form-create textarea {
	padding: 10px 20px;
	font-size: 24px;
}

.create-area .form-create button[type="submit"] {
	background: #fffcf5;
	margin-top: 60px;
	font-size: 20px;
}

.create-area .form-create button[type="submit"]:hover {
	background: #ffd882;
}