/*-----------------------------------------------
    = Common
-----------------------------------------------*/

html, body {
    height: 100%;
}

body {
    background: url(../img/background_photo.jpg) center center / cover no-repeat fixed;
}

header {
    margin: 0;
    padding: 0;
}

footer {
    background: #67b7c6;
    height: 30px;
    padding: 5px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -30px;
}

#wrap > .container {
    padding-top: 60px;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 100% !important;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px !important;
    }
}

.navbar-custom {
    background: #fff;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    position: fixed;
    top: 0;
    right:0;
    left: 0;
    z-index: 1030;
    height: 60px;
    margin-bottom: 60px;
}

@media (max-width: 768px) {
    .navbar-toggle {
        margin-top: 10px;
    }

    .navbar-toggle,
    .navbar-toggle span.icon-bar {
        border: 1px solid #67b7c6;
    }

    .navbar-collapse {
        background: #fff;
        border-top: 1px solid #e7e7e7;
        opacity: 0.9;
    }
}

.navbar-nav > li {
    padding: 5px;
    border-left: 1px solid #e7e7e7;
}

.navbar-nav > li:last-child {
    border-right: 1px solid #e7e7e7;
}

.navbar-nav > li > a#now {
    background: #eee;
    text-decoration: none;
}

.logo {
    color: #0e90a9;
    font-family: Trebucket MS;
    font-weight: 600;
    font-size: 1.1em;
    padding: 0 3px 2px;
    border-bottom: 1px solid #bbb;
}

.taglist {
    padding: 0 10px;
    color: #777;
    font-size: 18px;
}

.taglist .btn {
    position: relative;
    background: #777;
    color: #fff;
    padding: 3px 10px;
    margin-top: 5px;
    border: none;
}

.taglist .btn.delete:hover {
    background: #db6552;
}

.taglist .btn.plus {
    background: #ffc33f;
}

.copyright {
    text-align: center;
    color: #fff;
    font-size: 12px;
}