/*-----------------------------------------------
  = Mainvisual
-----------------------------------------------*/

#main-visual {
  margin-top: 60px;
  background: url(../img/background_photo.jpg) center center / cover no-repeat fixed;
}

#main-visual > .container {
  padding: 30px 0;
  height: auto;
}

#main-visual .jumbotron {
  background: #fff;
  margin: 0 auto;
  height: auto;
  opacity: 0.8;
  overflow: auto;
}

#main-visual h1.catch {
  font-size: 64px;
}

#main-visual p.message {
  font-size: 20px;
}

#main-visual h1.catch,
#main-visual p.message {
  margin-bottom: 18px;

}

#main-visual .btn {
  background: #0e90a9;
  border: 1px solid #0e90a9;
  border-radius: 35px;
  margin: 10px 10px -10px 0;
  padding: 15px 40px 15px 20px;
}

#main-visual .btn:hover {
  background: #025a6a;
}

#main-visual .btn i {
  opacity: 0;
}

#main-visual .btn.login {
  background: #3b5998;
  border: 1px solid #3b5998;
}

@media (max-width: 768px) {
  #main-visual .jumbotron {
    width: 90% !important;
  }
  #main-visual .btn {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (min-width: 768px) {
  #main-visual .jumbotron {
    width: 90% !important;
  }
}

@media (min-width: 992px) {
  #main-visual .jumbotron {
    width: 970px !important;
  }
}

/*-----------------------------------------------
  = Area
-----------------------------------------------*/

.area {
  margin: 30px auto;
  padding-bottom: 30px;
  font-size: 14px;
}

.area h1.area-title {
  font-size: 18px;
  border-top: 1px solid #e7e7e7;
  margin-bottom: 20px;
}

.area h1.area-title span.title {
  position: relative;
  top: -10px;
  padding: 0 20px;
  background: white;
}

.area div.panel.desc {
  background: #eee;
  border: none;
  font-size: 18px;
  opacity: 0.9;
}

/*-----------------------------------------------
  = Howto area
-----------------------------------------------*/

.howto-area {
  margin: -20px auto -30px;
}

.howto-area .row > .col-md-4 {
  text-align: center;
  margin: 0 auto 20px;
}

.howto-area .row > .col-md-4 i {
  background: #96d4e0;
  height: 200px;
  width: 200px;
  border: 1px solid transparent;
  border-radius: 50%;
  color: #fff;
  font-size: 700%;
  line-height: 200px;
  margin: 20px auto;
}

.howto-area .row > .col-md-4 p {
  font-size: 16px;
  text-align: left;
}

@media (max-width: 768px) {
  .howto-area .row > .col-md-4 {
    width: 80%;
    margin-bottom: 40px;
  }
}

/*-----------------------------------------------
  = Begin area
-----------------------------------------------*/

.begin-area .btn i {
  opacity: 0;
}

.begin-area .btn {
    background: #0e90a9;
    border: 1px solid #0e90a9;
    margin: 0 auto 15px;
    font-size: 20px;
}

.begin-area .btn.login {
    background: #3b5998;
    border: 1px solid #3b5998;
}

.begin-area .btn.login:hover {
    background: #19294c;
}

/*-----------------------------------------------
  = Search area
-----------------------------------------------*/

.search-area {
  padding-bottom: 0;
  text-align: center;
}

.search-area .form-search {
  margin: 20px auto;
}

.search-area .form-search input,
.search-area .form-search button {
	height: 42px;
  padding: 0 20px;
  font-size: 18px;
  border: 1px solid transparent;
  border-radius: 20px;
}

.search-area .form-search input[type="text"] {
  width: 500px;
  margin-right: 7px;
}

.search-area .form-search button[type="submit"] {
	background: #f1fcfe;
}

.search-area .form-search button[type="submit"]:hover {
	opacity: 0.9;
}

.search-area .taglist {
	width: 90%;
	margin: 0 auto;
}

.search-area .taglist .btn {
  background: #0e90a9;
  color: #fff;
  padding: 3px 15px;
  margin-top: 5px;
  border: 1px solid transparent;
  border-radius: 20px;
  font-size: 20px
}

@media (max-width: 768px) {
  .search-area .form-search input[type="text"] {
    width: 100%;
    margin: 0 auto;
  }
	.search-area .form-search button[type="submit"] {
		font-size: 20px;
		margin-top: 5px;
	}
	.search-area .taglist {
		width: 100%;
	}
}

/*-----------------------------------------------
  = Notelist area
-----------------------------------------------*/

.notelist-area .panel {
  border: none;
  opacity: 0.9;
}

.notelist-area .panel .panel-body {
  position: relative;
  padding: 35px;
  background: #f1fcfe;
  color: #333;
  font-size: 28px;
}

.notelist-area .panel .panel-body:hover {
  background: #96d4e0;
  color: #fff;
  text-decoration: none;
}

.notelist-area .panel.my .panel-body {
  background: #fffcf5;
}

.notelist-area .panel.my .panel-body:hover {
  background: #ffd882;
}

.notelist-area .panel:nth-child(1) .panel-body {
  font-size: 46px;
}

.notelist-area .panel:nth-child(2) .panel-body {
  font-size: 42px;
}

.notelist-area .panel:nth-child(3) .panel-body {
  font-size: 36px;
}

.notelist-area .panel:nth-child(4) .panel-body {
  font-size: 32px;
}

.notelist-area .panel.stock .panel-body:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #96d4e0;
}

.notelist-area .panel.stock .panel-body span.marking {
  position: absolute;
  content: " ";
  top: 8px;
  left: -1px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  z-index: 100;
}

.notelist-area .panel.my .panel-body:after {
  position: absolute;
  content: " ";
  top: 0;
  left: 0;
  height: 0;
  width: 0;
  border-bottom: 40px solid transparent;
  border-left: 40px solid #ffd882;
}

.notelist-area .panel.my .panel-body span.marking {
  position: absolute;
  content: " ";
  top: 6px;
  left: 4px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  font-size: 11px;
  font-weight: bold;
  color: #fff;
  z-index: 100;
}

.notelist-area .panel .panel-footer {
  padding: 5px 15px 10px;
}

.notelist-area .panel .panel-footer i,
.notelist-area .panel .panel-footer .tag {
  font-size: 13px;
}

.notelist-area .panel .panel-footer i {
  color: #999;
}

.notelist-area .panel .panel-footer .tag {
  background: #999;
}

/*-----------------------------------------------
  = Note area
-----------------------------------------------*/

.note-area {
  padding-bottom: 0;
}

.note-area .panel {
  position: relative;
  padding: 20px 50px 10px;
  margin-bottom: 0;
  z-index: 2;
}

.note-area .panel:before {
  content: "“";
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 1000%;
  font-family: sans-serif;
  line-height: 1em;
  color: #eee;
  z-index: 1;
}

.note-area .panel:after {
  content: "”";
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 1000%;
  font-family: sans-serif;
  line-height: 0em;
  color: #eee;
  z-index: 1;
}

.note-area .panel p {
  position: relative;
  z-index: 3;
}

.note-area .panel p.title {
  font-size: 46px;
  line-height: 1.7em;
  margin-bottom: 10px;
}

.note-area .panel p.refer {
  color: #999;
}

@media (max-width: 992px) {
  .note-area .panel {
    padding: 20px 20px 10px;
  }

  .note-area .panel p.title {
    font-size: 46px;
    line-height: 1.5em;
  }
	
	.note-area .panel:before,
  .note-area .panel:after {
  	font-size: 700%;
  }
}

@media (max-width: 768px) {
  .note-area .panel {
    padding: 20px 10px 10px;
  }

  .note-area .panel p.title {
    font-size: 40px;
    line-height: 1.5em;
  }

  .note-area .panel:before,
  .note-area .panel:after {
  	font-size: 600%;
  }
}

/*-----------------------------------------------
  = Noteinfo area
-----------------------------------------------*/

.noteinfo-area {
  margin-top: 20px;
  padding-bottom: 0;
}

.noteinfo-area .desc {
  padding: 20px 10px;
  font-size: 18px;
}

.noteinfo-area .btnlist .btn,
.noteinfo-area .btnlist .btn:focus,
.noteinfo-area .btnlist .btn:active:focus,
.noteinfo-area .btnlist .btn.active:focus {
  font-size: 20px;
  width: 80%;
  outline: none;
}

.noteinfo-area .btnlist .btn.like {
  background: #fffcf5;
}

.noteinfo-area .btnlist .btn.like:hover,
.noteinfo-area .btnlist .btn.liked {
  background: #ffd882;
}

.noteinfo-area .btnlist .btn.stock {
  background: #f1fcfe;
}

.noteinfo-area .btnlist .btn.stock:hover,
.noteinfo-area .btnlist .btn.stocked {
  background: #96d4e0;
}

.noteinfo-area .btnlist .btn.delete {
  background: #eee;
}

.noteinfo-area .btnlist .btn.delete:hover {
  background: #ccc;
}

.noteinfo-area .btnlist .like-count,
.noteinfo-area .btnlist .stock-count {
  position: relative;
  width: 35px;
  height: 35px;
  background: #ddd;
  margin-left: 10px;
  font-size: 14px;
  line-height: 35px;
  padding: 0;
  border: none;
}

.noteinfo-area .btnlist .like-count:after,
.noteinfo-area .btnlist .stock-count:after {
  content: "";
  position: absolute;
  top: 50%;
  left: -8px;
  margin-top: -8px;
  border-top: 8px solid transparent;
  border-left: 0;
  border-right: 8px solid #ddd;
  border-bottom: 8px solid transparent;
}

@media (max-width: 992px) {
  .noteinfo-area div {
    padding: 0 5px;
  }

  .noteinfo-area .btnlist {
    padding: 0 5px;
  }

  .noteinfo-area .btnlist .btn,
  .noteinfo-area .btnlist .btn:focus,
  .noteinfo-area .btnlist .btn:active:focus,
  .noteinfo-area .btnlist .btn.active:focus {
    width: 100%;
    height: 60px;
    font-size: 24px;
  }

  .noteinfo-area .btnlist .like-count,
  .noteinfo-area .btnlist .stock-count {
    width: 100%;
    height: 30px;
    margin: 15px 0 0;
    line-height: 30px;
    font-size: 16px;
  }
  
  .noteinfo-area .btnlist .like-count:after,
  .noteinfo-area .btnlist .stock-count:after {
    top: 0;
    left: 50%;
    margin-left: -8px;
    border-top: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #ddd;
  }
}

@media (max-width: 768px) {
  .noteinfo-area .btnlist .btn,
  .noteinfo-area .btnlist .btn:focus,
  .noteinfo-area .btnlist .btn:active:focus,
  .noteinfo-area .btnlist .btn.active:focus {
    width: 100%;
    height: 80px;
    font-size: 16px;
  }

  .noteinfo-area .btnlist .like-count,
  .noteinfo-area .btnlist .stock-count {
    width: 100%;
    height: 30px;
    margin: 15px 0 0;
    line-height: 30px;
    font-size: 16px;
  }
  
}

/*-----------------------------------------------
  = Commentlist area
-----------------------------------------------*/

.commentlist-area {
  padding-bottom: 0; 
}

.commentlist-area h1.area-title {
  margin-top: 50px;
  margin-bottom: 0;
}

.commentlist-area .comment {
  position: relative;
  margin: 0 0 30px;
  padding: 10px;
  background: #f1fcfe;
  color: #666;
  font-size: 20px;
  border: 1px solid transparent;
  border-radius: 5px;
}

.commentlist-area .comment:before {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 50%;
  margin-left: -15px;
  border-top: 15px solid #f1fcfe;;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 0;
}

.commentlist-area .comment.author {
  background: #fffcf5;
}

.commentlist-area .comment.author:before {
	content: "";
	border-top: 15px solid #fffcf5;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
}

.commentlist-area .comment .my {
	color: #999;
}

.commentlist-area .comment .my:hover {
	color: #333;
}

.commentlist-area .comment .content {
	padding: 10px 20px;
  color: #333;
  font-size: 20px;
}

.commentlist-area .comment .date {
  color: #999;
  font-size: 12px;
  font-style: italic;
  text-align: right;
}

/*-----------------------------------------------
  = Comment area
-----------------------------------------------*/

.comment-area {
  margin-bottom: 80px;
}

.comment-area .form-comment textarea {
  padding: 20px;
  font-size: 20px;
}

.comment-area .form-comment button[type="submit"] {
  margin: 10px 0;
  width: 200px;
  font-size: 20px;
}

/*-----------------------------------------------
  = Create area
-----------------------------------------------*/

.create-area .tutorial p {
	margin: 0;
}

.create-area .form-create .form-group {
  margin-bottom: 40px;
}

.create-area .form-create label {
  font-size: 22px;
  font-weight: normal;
  letter-spacing: 4px;
}

.create-area .form-create .badge {
	position: relative;
	top: -3px;
	background: #666;
	padding: 4px 10px;
	margin-left: 10px;
	font-size: 14px;
	font-weight: normal;
}

.create-area .form-create .badge.option {
  background: #eee;
  color: #333;
  border: 1px solid #777;
}

.create-area .form-create .desc {
  font-size: 14px;
  margin-bottom: 10px;
}

.create-area .form-create input[type="text"] {
	height: 50px;
  padding: 0 20px;
  font-size: 24px;
}

.create-area .form-create textarea {
  padding: 10px 20px;
  font-size: 24px;
}

.create-area .form-create button[type="submit"] {
  background: #fffcf5;
  margin-top: 60px;
  font-size: 20px;
}

.create-area .form-create button[type="submit"]:hover {
  background: #ffd882;
}

/*-----------------------------------------------
  = Tutorial
-----------------------------------------------*/

.tutorial {
	background: #eee;
	opacity: 0.9;
}

.tutorial p {
	margin-bottom: 20px;
	font-size: 18px;
}

.tutorial .step {
	color: #999;
	font-size: 14px;
	margin-bottom: 5px;
}

.tutorial .btn {
	font-size: 16px;
	margin: 0 4px 4px;
}

.tutorial .panel .panel-body {
	font-size: 18px;
}