[mysqld]
server-id                       = {{ mysql_server_id.stdout }}
user                            = mysql
datadir                         = /var/lib/mysql
socket                          = /var/lib/mysql/mysql.sock
pid-file                        = /var/lib/mysql/mysqld.pid
character-set-server            = utf8
collation-server                = utf8_general_ci
default-storage-engine          = innodb
transaction-isolation           = REPEATABLE-READ
explicit_defaults_for_timestamp = 1

port                 = 3306
max_connections      = 256
max_user_connections = 0
max_connect_errors   = 1000000
wait_timeout         = 600
interactive_timeout  = 600
connect_timeout      = 10
max_allowed_packet   = 32M

log-output                    = FILE
log_warnings                  = 1
log-error                     = /var/log/mysqld.log
general_log                   = 0
general_log_file              = /var/log/mysql_general.log
log-slow-admin-statements     = 1
log-queries-not-using-indexes = 1
slow_query_log                = 1
long_query_time               = 0.5
slow_query_log_file           = /var/log/mysql_slow_query.log
log-bin                       = mysqld-bin
expire_logs_days              = 7

thread_cache_size    = 80
table_open_cache     = 2048
max_heap_table_size  = 16MB
tmp_table_size       = 16MB
sort_buffer_size     = 2MB
read_buffer_size     = 128KB
read_rnd_buffer_size = 256KB
join_buffer_size     = 128KB
query_cache_size     = 0MB
query_cache_limit    = 1MB
key_buffer_size      = 64MB

innodb_strict_mode             = 1
innodb_autoinc_lock_mode       = 1
innodb_file_format             = Barracuda
innodb_file_per_table          = 1
innodb_data_home_dir           = /var/lib/mysql
innodb_data_file_path          = {{ mysql_innodb_data_file_path }}
innodb_autoextend_increment    = 64
innodb_buffer_pool_size        = {{ mysql_innodb_buffer_pool_size}}
innodb_log_buffer_size         = {{ mysql_innodb_log_buffer_size }}
innodb_log_file_size           = {{ mysql_innodb_log_file_size }}
innodb_log_files_in_group      = 2
innodb_flush_log_at_trx_commit = 1
innodb_flush_method            = O_DIRECT
innodb_fast_shutdown           = 0
innodb_io_capacity             = 200
innodb_read_io_threads         = 4
innodb_write_io_threads        = 4

[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
default-character-set = utf8
prompt                ={{ mysql_prompt }}
no-auto-rehash
show-warnings
